<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunny.classcome">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 开启摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <!--适配尺寸-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="750" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" />

        <!--高德定位Key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cc4ce41cecd4205b1c46b8ccb1381901" />

        <!--高德定位服务-->
        <service android:name="com.amap.api.location.APSService" />


        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV4"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v4" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v4" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>



        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!--首页-->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--注册页面-->
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTop" />

        <!--注册成功页面-->
        <activity
            android:name=".activity.RegSuccessActivity"
            android:launchMode="singleTop" />

        <!--登录页面-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />

        <!--我的消息-->
        <activity
            android:name=".activity.MyMsgActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.MineActivity" />
        <activity android:name=".activity.MyCollectionActivity" />
        <activity android:name=".activity.MyChequesActivity" />
        <activity android:name=".activity.MyProfileActivity" />
        <activity
            android:name=".activity.MyProfileEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.MyChequesDetailActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.PointActivity" />
        <activity android:name=".activity.PointDescActivity" />

        <!--发布详情：课程详情、场地详情、培训详情-->
        <activity android:name=".activity.PublishDetailsActivity" />

        <activity android:name=".activity.MapActivity" />

        <activity
            android:name=".activity.PurchaserActivity"
            android:hardwareAccelerated="false" />

        <!--发布培训-->
        <activity
            android:name=".activity.PublishTrainActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--发布场地-->
        <activity
            android:name=".activity.PublishFieldActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--发布课程-->
        <activity
            android:name=".activity.PublishClassActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--发布代课-->
        <activity
            android:name=".activity.PublishTutorActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--发布活动-->
        <activity
            android:name=".activity.PublishActiveActivity"
            android:windowSoftInputMode="adjustPan" />


        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.CancelPromptActivity" />
        <activity android:name=".activity.ModifyInfoActivity" />
        <activity android:name=".activity.BindPayActivity" />

        <!--位置页面-->
        <activity android:name=".activity.LocationActivity" />

        <!--找回密码-->
        <activity
            android:name=".activity.ForgetPassActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.BindPhoneActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.WebActivity"
            android:launchMode="singleTask" />

        <!--关于-->
        <activity
            android:name=".activity.AboutActivity"
            android:launchMode="singleTop" />

        <!--等级-->
        <activity
            android:name=".activity.LevelActivity"
            android:launchMode="singleTop" />

        <!--等级说明-->
        <activity
            android:name=".activity.LevelDescActivity"
            android:launchMode="singleTop" />

        <!--通用list页面-->
        <activity
            android:name=".activity.ListActivity"
            android:launchMode="singleTop" />

        <!--个人身份验证-->
        <activity
            android:name=".activity.PersonAuthActivity"
            android:launchMode="singleTop" />

        <!--我的发布/参与-->
        <activity
            android:name=".activity.MyClassActivity"
            android:launchMode="singleTop" />

        <!--邀请页面-->
        <activity
            android:name=".activity.InviteActivity"
            android:launchMode="singleTop" />

        <!--邀请者-->
        <activity
            android:name=".activity.ApplicantsActivity"
            android:launchMode="singleTop" />

        <!--邀约记录-->
        <activity
            android:name=".activity.InvitationRecordActivity"
            android:launchMode="singleTop" />

        <!--购买者-->
        <activity
            android:name=".activity.BuyActivity"
            android:launchMode="singleTop" />

        <!--过往发布信息-->
        <activity
            android:name=".activity.PastReleaseActivity"
            android:launchMode="singleTop" />

        <!--公司简介-->
        <activity
            android:name=".activity.CompanyProfileActivity"
            android:launchMode="singleTop" />

        <!--公司简历编辑-->
        <activity
            android:name=".activity.CompanyProfileEditActivity"
            android:launchMode="singleTop" />

        <!--地址选择-->
        <activity android:name=".activity.AddressActivity" />

        <!--课程分类-->
        <activity android:name=".activity.ClassTypeActivity" />

        <!--课程发布成功结果-->
        <activity android:name=".activity.PublishSuccessActivity" />

        <!--支付页面-->
        <activity android:name=".activity.PayActivity" />

        <!--微信支付回调页面-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />

        <!--课程列表-->
        <activity android:name=".activity.ClassListActivity" />

        <!--搜索课程列表-->
        <activity android:name=".activity.SearchActivity" />

        <!--我的行程-->
        <activity android:name=".activity.MyItineraryActivity" />

        <!--场地设施-->
        <activity android:name=".activity.TranTypeActivity" />

        <!--搜索结果页面-->
        <activity
            android:name=".activity.SearchResultActivity"
            android:launchMode="singleTop" />

        <activity android:name=".activity.CommentActivity"
            android:launchMode="singleTop"/>
    </application>
</manifest>
